## [2] Variables and Data Types

### 1. Variables in Python

*Variables* are essentially containers for storing information and data. The data stored within a variable is called its *value*. Variables are defined with values using the assignment operator `=`. 

> **Note:** The assignment operator `=` is used to assign values, whereas the comparison operator `==` is used to compare two values.

#### 1.1 Creating Variables

In [1]:
# Create a single variable 
var_1 = "apple"

# Print single value 
print(var_1)

apple

In [2]:
# Assign different values to multiple variables in the same statement
var_2, var_3 = "banana", "orange"

print("Variable 2: ", var_2)
print("Variable 3: ", var_3)

Variable 2:  banana
Variable 3:  orange

In [3]:
# Assign the same value to multiple variables 
var_4 = var_5 = "mango"

print("Variable 4: ", var_4)
print("Variable 5: ", var_5)

Variable 4:  mango
Variable 5:  mango

#### 1.2 Reassigning Values

Values stored in variables can be reassigned using the same format as above. However, the old value is lost and is unrecoverable.

In [4]:
# Reassigning the value of a variable 
var_1 = "papaya"

print("New value of Variable 1: ", var_1)

New value of Variable 1:  papaya

One of the most common applications of reassigning variables is in counters. This method allows the program to add or subtract from a variable, using its previous value to compute a new value.

In [5]:
#### EXAMPLE : COUNTER
counter = 5             # Initialize the value of the counter variable 
counter = counter + 1   # Increment the value by 1 (Add 1 to original value)
print(counter)          # Print the new value

6

Python provides a list of *shorthand* Assignment Operators like `+=` and `-=` for ease of programming. You can learn more about it [here](https://www.w3schools.com/python/python_operators.asp).

In [6]:
#### EXAMPLE : COUNTER USING SHORTHAND 
counter += 1            # Same as `counter = counter + 1`
print(counter)          # Print the new value

7

#### 1.3 Variable Names 
Variable names must follow certain rules in Python:

* Variable names can be short (`x`, `y`) or descriptive (`my_variable`, `total_cost`)
* Variable name must start with a letter or underscore (`_`); Cannot start with a number 
* Variable name can only contain alphanumeric characters and underscores (`a-z`, `A-Z`, `0-9`, `_`)
* Variable names are case-sensitive (`var`, `Var` and `VAR` are different variables in Python)
* Variable name cannot be any of the Python [keywords](https://www.w3schools.com/python/python_ref_keywords.asp)

In [7]:
#### EXAMPLE : VALID VARIABLE NAMES
var_name = 2
color1, color2 = "red", "blue"

Here are some examples of invalid variable names:

In [8]:
# ERROR : No spaces in variable names
var name = 2

SyntaxError: invalid syntax (1783459356.py, line 2)

In [ ]:
# ERROR : Variable names cannot begin with numbers
1color = "red"

SyntaxError: invalid decimal literal (644541703.py, line 2)

In [ ]:
# ERROR : Variable names cannot contain hyphens 
var-name = True

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1456381992.py, line 2)

### 2. Built-in Data Types

You can obtain the type of data stored within a variable using the `type()` function in Python.

In [9]:
# Define sample variables 
a_num = 18
a_bool = False 
a_string = "Quantum"
a_list = ["apples", "bananas", "oranges"]

# Print variables and their type 
print(f'Variable name: a_num, Value: {a_num}, Type: {type(a_num)}')
print(f'Variable name: a_bool, Value: {a_bool}, Type: {type(a_bool)}')
print(f'Variable name: a_string, Value: {a_string}, Type: {type(a_string)}')
print(f'Variable name: a_list, Value: {a_list}, Type: {type(a_list)}')

Variable name: a_num, Value: 18, Type: <class 'int'>
Variable name: a_bool, Value: False, Type: <class 'bool'>
Variable name: a_string, Value: Quantum, Type: <class 'str'>
Variable name: a_list, Value: ['apples', 'bananas', 'oranges'], Type: <class 'list'>

Here are some commonly used data types in Python :

1. None
2. Integer
3. Float 
4. Boolean 
5. String
6. List
7. Dictionary
8. Tuple

*Primitive data types* like integer, float, boolean, None and string, represent a single value. The other data types are called *data structures* or *containers* because they hold multiple types of values in one variable.

#### 2.1 None

The `None` type of data is used to indicate the absence of any assigned value. It is a single value of the type `NoneType` and can be visualized as an empty container with simply a label on it.

In [10]:
no_value = None 
print(type(no_value))

<class 'NoneType'>

#### 2.2 Integer

`Integers` represent any positive or negative whole numbers, across the number line, ranging from negative infinity to positive infinity. These do not consist of any decimal values and have the type `int`. Unlike other programming languages, there is no limit for the lowest / highest integer values that can be stored in Python.

In [11]:
positive_num = 4350
print(type(positive_num))

<class 'int'>

In [12]:
negative_num = -5968224
print(type(negative_num))

<class 'int'>

#### 2.3 Float

`Float` or floating point numbers are numbers consisting of decimal points. Floating point numbers get their name from the way the decimal point can "float" to any position within the numeral. There are no limits on the number of digits before or the decimal point. They have the type `float`.

In [13]:
pi = 3.1415 
print(type(pi))

<class 'float'>

We can also write floating point numbers using the scientific notation. Here, the power of 10 is denoted by `e`.

In [14]:
float_sci = 1e-3
print(float_sci)

0.001

##### Type Conversion - Int & Float 

Floats and Integers can be interconverted using the `float` and `int` functions. This operation is known as *casting*.

In [15]:
# Int to Float 
float(positive_num)

4350.0

In [16]:
# Float to Int 
int(pi)

3

On executing a statement consisting of arithmetic operations, integers are automatically converted to floats if any of the other operands is also a float.

This must be especially noted during division. 
* The division operator (`/`) always returns a `float` value.
* The floor division operator (`//`) gives a rounded off `int` result.

In [17]:
type(2 * 3)

int

In [18]:
type(2.0 * 3)

float

In [19]:
type(8 / 3)

float

In [20]:
type(8 // 3)

int

#### 2.4 Boolean

Booleans consist of exactly two values : `True` and `False`. It works exactly according to the laws of Boolean algebra and is a result of comparison or conditional operators. They have the data type `bool`.

In [21]:
bool_var = True 
type(bool_var)

bool

In [22]:
result = 3 > 2
print(f'Result: {result}, Type: {type(result)}')

Result: True, Type: <class 'bool'>

Boolean variables are automatically casted into `int` when they are present in arithmetic operations. In this case, `True` maps to `1` and `False` maps to `0`.

In [23]:
2 + False

2

In [24]:
int(True)

1

Generally speaking, every non-zero value evaluates to `True` in a given statement. Integer `0`, Float `0.0`, `None`, empty strings and other empty data structures, all evaluate to `False`.

In [25]:
# Boolean of an empty set 
bool(set())

False

In [26]:
# Boolean of an empty string 
bool("")

False

#### 2.5 String

Like in many other programming languages, strings are used to represent text. Each token of a string is known as a *character*. Texts are essentially a *string of characters*. Strings are surrounded by either single `' '` or double `" "` quotes. They are of the type `string`.

In [27]:
my_string = "Hello World"
print(type(my_string))

<class 'str'>

Each character of a string can be accessed using indexing. The first character of a string corresponds to the index `0`.

In [28]:
my_string[2]

'l'

You can insert single quotes within your string if it is written with double quotes and vice versa.

In [29]:
#### EXAMPLE : VALID STRINGS
str_1 = "The antique was stolen from Anna's library"
str_2 = 'He waved at them and said, "Bye"'

> **Note:** A double quote may be written within a string enclosed by double quotes as long as its prefixed with an escape character (`\`).

#### 2.6 List

Lists in Python are ordered collection of values. They are of the type `list`. Lists are data structures which contain different values of the same or assorted data types. They are visualized as sequences of comma-separated data values, enclosed in square brackets `[]`.

In [30]:
# List containing values of the same data type 
colors = ['red', 'green', 'blue']
colors

['red', 'green', 'blue']

In [31]:
# List containing values of different data types 
list_1 = [2, 'yellow', 4>3]
list_1

[2, 'yellow', True]

In [32]:
list_2 = ['purple', 'orange', colors]
list_2

['purple', 'orange', ['red', 'green', 'blue']]

The `len()` function is used to determine the length of a list.

In [33]:
len(colors)

3

Individual elements of a list can be accessed using its *index*. Like strings, the starting index of a list is `0`. Negative indices can be used to access the elements in reverse order (from the back).

In [34]:
colors[2]

'blue'

In [35]:
list_1[-2]

'yellow'

In [36]:
list_2[2][1]

'green'

The `in` keyword is used to determine if a value is present in a list, string, dictionary, or other sequences of data. It returns a boolean `True` or `False`.

In [37]:
'purple' in colors

False

##### 2.6.1 Altering the values of a list

Values stored at specific indices of a list can be altered by invoking them and reassigning the value using the assignment operator.

In [38]:
colors

['red', 'green', 'blue']

In [39]:
# Altering the value at index "1"
colors[1] = 'yellow'
colors

['red', 'yellow', 'blue']

In [40]:
# Combining two lists using the concatenation (+) operator
colors_2 = colors + ['violet', 'pink']
colors_2

['red', 'yellow', 'blue', 'violet', 'pink']

##### 2.6.2 Adding values to a list

This can be done in two methods:
1. Add a new value at the end of the list using the `append()` method.
2. Add a new value at a specific index using the `insert()` method.

In [41]:
## EXAMPLE : INSERTING A VALUE AT THE END OF A LIST 
colors.append('green')
colors

['red', 'yellow', 'blue', 'green']

In [42]:
## EXAMPLE : INSERTING A VALUE AT INDEX "2"
colors.insert(2, 'orange')
colors

['red', 'yellow', 'orange', 'blue', 'green']

##### 2.6.3 Removing values from a list

Elements can be removed from a list by using any of the following methods:
1. Remove a specific element by using the `remove()` method.
2. Remove an element at a specific index using the `pop()` method.

In [43]:
# REMOVING THE VALUE "BLUE"
colors.remove('blue')
colors

['red', 'yellow', 'orange', 'green']

In [44]:
## EXAMPLE : REMOVING THE VALUE AT INDEX "0"
colors.pop(0)
colors

['yellow', 'orange', 'green']

In [45]:
## EXAMPLE : REMOVING THE LAST ELEMENT OF A LIST 
colors.pop()
colors

['yellow', 'orange']

#### 2.7 Dictionary

Dictionaries are unordered collection of items in which each element consists of a *key* and *value* pair. The *key* is used to retrieve its corresponding value in a dictionary. This data structure is often used to store various pieces of information together. They are of the type `dict` and consist of key-value pairs enclosed in curly brackets `{}`.

In [46]:
dict_1 = {'name' : 'John Doe', 'occupation' : 'Author'}
dict_1

{'name': 'John Doe', 'occupation': 'Author'}

In [47]:
dict_2 = {'name' : 'Jane Doe', 'occupation' : 'Doctor'}
dict_2

{'name': 'Jane Doe', 'occupation': 'Doctor'}

Keys can be used to access the values of a dictionary. This statement throws an error a `KeyError` if the key specified is not present in the dictionary.

In [48]:
dict_1['name']

'John Doe'

The value linked to a particular key can also be accessed using the `get` method.

In [49]:
dict_2.get('occupation')

'Doctor'

A second argument (value) may be passed to the `get()` method, which will be considered the default value to be returned if the key mentioned is not present in the dictionary.

In [50]:
dict_1.get('age', 'N/A')

'N/A'

Like in lists, the assignment operator `=` can be used to add new key-value pairs to a dictionary.

In [51]:
dict_1['age'] = 32

In [52]:
dict_1

{'name': 'John Doe', 'occupation': 'Author', 'age': 32}

Similarly, we can make use of the `pop()` method to remove a key-value pair from a dictionary by specifying the key of the value to be removed. `pop` returns the value it removes from the dictionary or list.

In [53]:
dict_1.pop('age')

32

In [54]:
dict_1

{'name': 'John Doe', 'occupation': 'Author'}

Here are some methods that allow us to visualize the components of a dictionary:

In [55]:
# View the keys of a dictionary 
dict_1.keys()

dict_keys(['name', 'occupation'])

In [56]:
# View the values of a dictionary
dict_1.values()

dict_values(['John Doe', 'Author'])

In [57]:
# View the key-value pairs or items of a dictionary 
dict_1.items()

dict_items([('name', 'John Doe'), ('occupation', 'Author')])

#### 2.8 Tuple

Much like Lists, Tuples are also ordered collections of data. However, tuples are *immutable* i.e., they cannot be modified after creation. It is not possible to add, remove or modify the elements of a tuple. It is denoted by comma-separated values enclosed in parentheses `()`.

In [58]:
# Create a tuple 
colors = ('red', 'green', 'blue')

In [59]:
# Number of elements of a tuple 
len(colors)

3

In [60]:
# Access an element of a tuple
colors[-1]

'blue'

Single-values tuples can also be created by typing a comma after the value. Simply enclosing the value in parentheses `()` will not make it a tuple. This is illustrated below.

In [61]:
sample_tuple = 1,

In [62]:
sample_tuple

(1,)

In [63]:
type(sample_tuple)

tuple

In [64]:
not_tuple = (1)

In [65]:
not_tuple

1

In [66]:
type(not_tuple)

int

Generally, tuples are used to assign multiple values in a single statement.

In [67]:
coordinates = (3, -4)

In [68]:
pt_x, pt_y = coordinates

In [69]:
print('X coordinate: ', pt_x)
print('Y coordinate: ' ,pt_y)

X coordinate:  3
Y coordinate:  -4

### Additional Resources

[1] Python Tutorial [w3schools] : https://www.w3schools.com/python/default.asp

[2] Official Python Documentation : https://docs.python.org/3/tutorial/index.html